{% extends "base.html.twig" %} {% block body %}

<div class="bad-trip-container">
  <span class="badtrip-1">
    <span class="badtrip-span">S</span>
    <span class="badtrip-span"> a </span>
    <span class="badtrip-span"> d </span>
    <span class="badtrip-span"> </span>
    <span class="badtrip-span">M</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">d</span>
  </span>
  <span class="badtrip-5">
    <span class="badtrip-span">S</span>
    <span class="badtrip-span"> a </span>
    <span class="badtrip-span"> d </span>
    <span class="badtrip-span"> </span>
    <span class="badtrip-span">M</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">d</span></span
  >
  <span class="badtrip-2">
    <span class="badtrip-span">S</span>
    <span class="badtrip-span"> a </span>
    <span class="badtrip-span"> d </span>
    <span class="badtrip-span"> </span>
    <span class="badtrip-span">M</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">d</span></span
  >
  <span class="badtrip-8">
    <span class="badtrip-span">S</span>
    <span class="badtrip-span"> a </span>
    <span class="badtrip-span"> d </span>
    <span class="badtrip-span"> </span>
    <span class="badtrip-span">M</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">d</span></span
  >
  <span class="badtrip-1">
    <span class="badtrip-span">S</span>
    <span class="badtrip-span"> a </span>
    <span class="badtrip-span"> d </span>
    <span class="badtrip-span"> </span>
    <span class="badtrip-span">M</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">d</span></span
  >
  <span class="badtrip-4">
    <span class="badtrip-span">S</span>
    <span class="badtrip-span"> a </span>
    <span class="badtrip-span"> d </span>
    <span class="badtrip-span"> </span>
    <span class="badtrip-span">M</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">d</span></span
  >
  <span class="badtrip-2">
    <span class="badtrip-span">S</span>
    <span class="badtrip-span"> a </span>
    <span class="badtrip-span"> d </span>
    <span class="badtrip-span"> </span>
    <span class="badtrip-span">M</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">d</span></span
  >
  <span class="badtrip-9">
    <span class="badtrip-span">S</span>
    <span class="badtrip-span"> a </span>
    <span class="badtrip-span"> d </span>
    <span class="badtrip-span"> </span>
    <span class="badtrip-span">M</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">o</span>
    <span class="badtrip-span">d</span></span
  >
</div>
{% endblock %}
