{% extends "base.html.twig" %}
{% block body %}

<div class="buttons-container">
    <div class="black-bg-buttons">
        <button class="custom-btn" id="shadow-light-btn">Shadow light</button>
        <button class="custom-btn" id="neon-line-btn">Neon line</button>
        <button class="custom-btn" id="border-anim-btn">Border anim</button>
        <button class="custom-btn" id="circular-btn">O</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
    </div>
    <div class="white-bg-buttons">
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
        <button class="custom-btn">bouton</button>
    </div>

</div>

{% endblock %}