<nav class="menu">

    <div>
        <h3 class="ml-3">
            <a href="{{ path('home') }}">Head
            </a>
            <a href="{{ path('product') }}">Product</a>
        </h3>
    </div>
</nav>