<nav class="menu">
        <h3 class="ml-3">
            <a href="{{ path('home') }}">Emoji
            </a>
        </3>
        <h3>
            <a href="{{ path('product') }}">Produit Emoji</a>
        </h3>
</nav>