{% extends "base.html.twig" %}

{% block body %}
<div class="text-container">
    <div class="text-perspective-div">
        <div id="shadow">Coucou</div>
        <h1>Texte En Perspective</h1>
        <h2>Texte En Perspective</h2>
        <input type="text" id="typeText">
        <p class="random-size-p"></p>
    </div>
</div>
{% endblock %}