{% extends "base.html.twig" %}

{% block body %}

<div class="clock-container">
    <div class="clock">
        <div class="hour">
            <div class="hr" id="hr"></div>
        </div>
        <divc class="min">
            <div class="mn" id="mn"></div>
    </div>
    <divc class="sec">
        <div class="sc" id="sc"></div>
</div>
</div>
</div>
{% endblock %}