{% extends "base.html.twig" %}

{% block body %}
<div class="scrollable-auto">
    <div class="head">
        <div class="eyelids">
            <div class="left-eyelid"></div>
            <div class="right-eyelid"></div>
        </div>
        <div class="eyes">
            <div class="left-eye"></div>
            <div class="right-eye"></div>
        </div>

        <div class="mouth"></div>
    </div>
</div>
    
{% endblock %}